targets:
  - name: <YOUR_PROJECT_NAME>
    path: <PROJECT_PATH>
    layer: backend
    tech_profile: java-spring-legacy
    entry_points:
    exclude_patterns:
      - "**/generated/**"
      - "**/*Pb.java"
